* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
 
    
}
body nav img {
    padding-left: 60px;
}

.top_right {
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    color: hsl(243, 87%, 12%);
}

.nav_style {
    margin-top: 30px;
    margin-bottom: 30px;
}
.section_element {
    padding-left: 60px;
}
.section_element h1, .section_two h1 {
    font-size: 38px;

}
.section_element p, .section_two p{
    font-size: 21px;
}

.input_border{
    height: 55px;
    width: 395px;
    padding: 10px;
    border-radius: 5px;
    color: hsl(0, 0%, 75%);

}

.img_style{
    width: 45%;

}


/* utils */

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_column img {
    width: 150px;
}
.flex_column span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.align_center {
    align-items: center;
    justify-content: center;
}

.justify_between {
    justify-content: space-between;
    align-items: center;
}

.flex_gap {
    gap: 20px;
}

.font_header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
}

.font_para {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: hsl(243, 87%, 12%);
}

.list_style {  
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.button_style {
    width: 280px;
    height: 55px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: hsl(224, 93%, 58%);
    color: white;
    border: none;
    border-radius: 5px;
}
.section_two {
    padding-top: 160px;
    background-color: hsl(240, 75%, 98%);
    background-repeat: no-repeat;
    margin-top: 180px;
    font-family: 'Raleway', sans-serif;
    
}
.middle_curve {
    position: relative;
    top:190px;
    background-color:white;
    background-image: url("./images/bg-curve-desktop.svg");
    height: 90px;
    margin-bottom: 0px;
}
.icon-quotes {
    width: 400px;
    height: 50px;

}
.section_link a {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    width: 171px;
    text-decoration: none;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    color: hsl(170, 45%, 43%);
}
.section_link a img {
    
    width: 19px;
}
.icon-quotes {
    background-color: white;
    box-shadow: 0px 0px 20px rgba(113, 111, 116, 0.5);
    border-radius: 4px;
    padding: 35px 20px 70px 60px;
    height: 240px;
    border: 1px solid grey;
    border-style: hidden;
    width: 70%;
    margin: 60px 40px 100px 0px;
}
.icon-quotes p {
    width: 68%;
    line-height: 25px;
    font-size: 13px;
    font-weight: 400px;
    font-family:'Open Sans', sans-serif;
    margin-bottom: 10px;
}
.icon-quotes img {
    margin-top: 10px;
    width: 15px;
    
}

.icon-quotes .avatar {
    height: 30px;
    width: 30px;
    border-radius: 35px;
}
.bottom-blue-para {
    color: white;
    font-family:'Raleway', sans-serif;
    background-color: hsl(238, 22%, 44%);
}
.section_three {
    padding: 90px 80px 75px 60px;
    background-color: hsl(238, 22%, 44%);
    height: 300px;
}
.section_three h1 {
    margin-bottom: 20px;
}
.section_three p {
    width: 60%;
}
footer {    
    background-color: hsl(243, 87%, 12%);
    padding: 60px;
}


footer img {
    text-align: left;
    color: white;
    
}


.footer_lists ul {
    padding-right: 100px;
    list-style-type: none;
    font-family:'Raleway', sans-serif;
    padding-right: 170px;
    color: white;
}
.footer_lists {
    padding-right: 170px;
    list-style-type: none;
    line-height: 30px;
}
.social_icons {
    margin-top: -100px;
}
.footer_lists img {  
    margin-right: 10px;  
    width: 20px;

}

