/* *{box-sizing: border-box;
} */

.titlu-header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    margin-top: 40px;
}
.titlu-main{
    text-align: center;
    font-family: 'Roboto Serif';
    font-size: 46px;
    font-weight: 400;
}
.caption{
    color: rgba(25, 25, 25, 0.789) ;
    font-family: 'Calibri';
    font-weight: 100;
    font-size: 18px;
    text-align: center;    
}
button{
    margin-left: 45%;
    padding: 2px 2px 2px 2px;
    width: 100px;
    height: 50px;
    color: rgb(234, 230, 226);
    text-align: center;
    background-color: black;
    border: 12px solid black;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;     
}